
.projects-gb-contaienr {
    background-color: rgb(237, 249, 254);
    min-height: 50vh;
    padding: 10px 80px;
    display: flex;
    flex-direction: column;
}

.projects-landing-container {
    display: flex;
    width: 100%;
}

.projects-landing-img {
    width: 600px;
    min-height: 200px;
}

.projects-landing-discription-container {

}

.projects-landing-heading {
    font-size: 48px;
    color: rgb(32, 13, 79);
    text-align: center;
}

.projects-landing-discription {
    color: rgb(72, 102, 129);
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    line-height: 30px;
    text-align: center;
}

.project-items-container {
    margin-top: 40px;
    list-style-type: none;
    display: flex;
    align-items: center;

    flex-wrap: wrap;
    width: 100%;
    padding-left: 0px;
}



.project-item-container {
    background-color: rgb(166, 225, 250);
    padding: 20px;
    width: 300px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    flex-grow: 1;
    transition: transform 300ms ease;
    will-change: transform;
    /* display: flex; */
}

.item {
    width: 100%;
    display: flex;
    
}

.project-item-container:hover {
    transform: scale(1.06);
    box-shadow: 0 20px 40px rgb(0, 0, 0, 0.15);
}
.project-icon-and-title {
    display: flex;
    align-items: center;
}

.project-title {
    margin-left: 10px;
    font-size: 20px;
    color: rgb(0, 28, 85);;
}

.project-discription {
    color: rgb(0, 28, 85);;
    font-size: 16px;
    margin-top: 0px;
    font-weight: 500;
    line-height:26px;
}

.buttons-container {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.project-git-button {
    margin-right: 6px;
}

.project-button {
    padding: 8px 24px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;

}

.project-git-button {
    background-color: rgba(69, 68, 68, 0.6);
}
.project-website-button {
    background-color: rgb(77, 157, 188);
}

.button-name {
    margin-left: 6px;
    color: white;
}

.more-projects-button {
    padding: 12px 40px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgb(32, 13, 79);
    color: white;
    text-align: center;
    align-self: center;
    margin-top: 20px;
}






@media screen and (max-width: 768px){
        
    .projects-gb-contaienr {
        padding: 4px 30px;
    }

    .projects-landing-container {
        
        flex-direction: column;
        
    }

    .projects-landing-img {
        width: 100%;
        min-height: auto;
    }

    .projects-landing-discription-container {

    }

    .projects-landing-heading {
        font-size: 34px;
        font-weight: 500;
    }

    .projects-landing-discription {
        
        font-size: 16px;
        
    }

    
}