
.skills-section-main-heading {
  font-size: 40px;
  color: rgb(32, 13, 79);
  text-align: center;
  margin-bottom: 80px;
}

.skills-section-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.skills-section-item-details {
  width: 50%;
}

.skills-section-heading {
  font-size: 38px;
  margin-bottom: 30px;
}

.skills-section-imgs {
  display: flex;
  margin-bottom: 30px;
}

.skill-img {
  width: 70px;
  height: 70px;
  margin-right: 14px;
}

.SkillsSection-image {
  width: 600px;
  height: 600px;
  margin-right: 20px;
}

.skills-section-disc {
  margin-left: 10px;
}

.skill-icon-disc {
  display: flex;
  align-items: flex-start;
  margin-bottom: 14px;
}

.skill-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  flex-shrink: 0;
}

.skill-disc {
  font-size: 20px;
  color: rgb(72, 102, 129);
  font-weight: 500;
  margin: 0;
}

@media (max-width: 768px) {
  .skills-section-container {
    flex-direction: column;
  }

  .SkillsSection-image {
    display: none;
  }

  .skills-section-item-details {
    width: 100%;
    text-align: center;
  }

  .skill-img {
    width: 50px;
    height: 50px;
  }

  .skill-disc {
    font-size: 16px;
  }
}
