.home-gb-contaienr {
    background: linear-gradient(135deg, #0f172a 0%, #1e1b4b 100%);
    min-height: 50vh;
    padding: 40px 80px;
}

@media screen and (max-width: 768px) {
    .home-gb-contaienr {
        padding: 20px 30px;
    }
}