
.footer-container {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    padding-top: 50px;
}

.footer-disc {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(72, 102, 129);
    font-weight: 500;
}

.heart-icon {
    color: red;
    margin-left: 6px;
    margin-right: 6px;
    font-size: 18px;

}